<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {%- include head.html -%}

  <body>
    <header class="header">
      <a href="/">
        <img width="62" src="/assets/images/bsnj.png" />
      </a>
    </header>
    <div class="content-wrapper">
      {{ content }}
    </div>
    <footer class="footer" style="position: relative;">
      <div>
        © 2024 Basenji Apps
        <!-- <br/> -->
        <!-- <a href="https://www.flyerone.vc/" target="_blank">Backed by Flyer One Ventures</a> -->
      </div>
      <div>
        <a id="docs-footer-privacy" style="margin-right: 15px;" href="https://basenjiapps.com/docs/privacy_policy">Privacy Policy</a>
        <a id="docs-footer-terms" href="https://basenjiapps.com/docs/terms_of_use">Terms of Use</a>
        <a id="docs-footer-terms" href="https://basenjiapps.com/docs/subscription_terms">Subscription Terms</a>
      </div>
    </footer>
  </body>
</html>